&>.Filter {			
	text-align: right;

	&>.Label {
		display: inline-block;
		vertical-align: top;
		font-size: 15px;
		line-height: 1em;
		// padding-top: 7px;
		padding-right: 4px;
		color: #DDD;
	}
	&>.DropDown {
		position: relative;
		display: inline-flex;
		vertical-align: top;
		text-align: left;
		font-size: 30px;
		margin-top: -16px;
		margin-right: -8px;
		line-height: 1em;
		box-sizing: content-box;
		padding: 10px;

		&>.CurfAugBorder {
			z-index: 0;
			opacity: 0;
			transition: opacity 0.2s ease-out;
		}

		&>.Tag {
			position: relative;
			padding-right: 25px;
			padding-left: 10px;
			text-decoration: none;
			z-index: 1;
		}

		&::after {
			display: block;
			position: absolute;
			content: "╲╱";
			top: 8px;
			right: 8px;
			font-size: 8px;
			transition: top 0.2s ease-out;
			pointer-events: none;
		}

		&:hover::after {
			top: 4px;
		}
		
		&:not(.--drop_down_open) {
			

			&>.--selected_item {
				border-bottom: 3px solid currentColor;
			}
		}

		&.--drop_down_open {
			// border-color: black;
			&::after { color: black; }

			&>.CurfAugBorder {
				opacity: 1;
			}

			&>.Tag {
				border-bottom: 3px solid transparent;
				&:hover { 
					color: white;
					border-bottom-color: currentColor; 
				}
				&.--selected_item {
					color: #000;
					// border-bottom-color: white;
					// &::after { opacity: 1; }
				}
			}
		}
	}

	// @media (max-width: 1290px) {
	// 	margin-top: -8px;
	// 	margin-right: -8px;

	// 	&>.Label {
	// 		padding-top: 8px;
	// 		padding-right: 2px;
	// 	}
	// 	&>.DropDown {
	// 		// transition: background-color 0.2s ease-out;
	// 		// top: -8px;
	// 		// right: -8px;
	// 		padding: 8px;
	// 		// border: 3px solid transparent;
	// 		background-color: #831f34;
	// 		box-sizing: content-box;
	// 		border-radius: 2px;
	// 		&::after {
	// 			top: 10px;
	// 			right: 10px;
	// 		}
	// 		&:hover::after {
	// 			top: 8px;
	// 		}
	// 		&.--drop_down_open {
				
	// 			// border-color: #2f5451;
	// 			// border-color: #831f34;
	// 		}
	// 	}
	// }
}