
$timeline-stroke-color: var(--timelineStroke);

@keyframes shrink-text {
	0% { transform: translate(0px, 0px) scale(1, 1); }
	25% { transform: translate(0px, -37.5%) scale(1, 0.25); }
	60% { transform: translate(0px, -37.5%) scale(1, 0.25); }
	100% { transform: translate(-37.5%, -37.5%) scale(0.25, 0.25); }
}

@keyframes grow-text {
	0% { transform: translate(-37.5%, -37.5%) scale(0.25, 0.25); }
	25% { transform: translate(-37.5%, 0px) scale(0.25, 1); }
	60% { transform: translate(-37.5%, 0%) scale(0.25, 1); }
	100% { transform: translate(0px, 0px) scale(1, 1); }
}

.Timeline {
	margin-top: 25px;
	// margin-bottom: -75px;

	&>.Title {
		position: sticky;
		top: 0px;
		z-index: 2;
		font-size: 80px;
		padding: 25px;
		// background: #831F34;
		line-height: 75px;
		height: 125px;
		transition: all ease-out 0.2s;

		// &>.CurfAugBorder {
		// 	background: #831F34;
		// }

		&>.Text {
			position: absolute;
			top: 25px;
			left: 25px;
			transition: all ease-out 0.2s;
			animation: 0.8s ease grow-text;
			animation-direction: normal;
			animation-fill-mode: forwards;
		}

		@import "./_Filter.scss";

		&.--stuck {
			height: 50px;
			margin-bottom: 75px;
			padding-top: 12.5px;
			padding-bottom: 12.5px;

			&>.Text {
				top: 12.5px;
				animation: 0.8s ease shrink-text;
				animation-direction: normal;
				animation-fill-mode: forwards;
			}
		}
	}

	&>.LifeEventList {
		position: relative;
		margin-top: -75px;

		&>.TimelinePadding {
			margin-left: 75px + 24.5px;
			border-left: 1px solid $timeline-stroke-color;

			&.top { height: 50px + 75px; }
			&.bottom { height: 125px; }
		}

		&>.GridAuraAnim {
			overflow: hidden;
			&, &>.Grid {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
			}

			&>.Grid { 
				// visibility: hidden;
				opacity: 0.05; 
			}
			&>.Aura { 
				position: absolute;
				opacity: 0.25; 
			}
		}

		&>.LifeEvent {
			position: relative;
			z-index: 1;
			display: flex;
			overflow-x: hidden;

			&>.TimelineGraph {
				flex-basis: 150px;
				flex-grow: 0;
				flex-shrink: 0;
				display: grid;
				grid-template-columns: 75px 75px;
				grid-template-rows: 25px 50px auto;

				&>.Date {
					font-size: 14px;
					text-align: center;
					grid-row-end: span 3;
					margin-left: auto;
					margin-top: 25px + 16px;
				}

				&>.GraphLine {
					margin-left: 24.5px;
					border-left: 1px solid $timeline-stroke-color;
				}

				&>.GraphPoint {
					stroke: $timeline-stroke-color;
					fill: none;
					stroke-width: 1px;
				}
			}

			&>.GridSizingWrapper {
				flex: 1;
				overflow-x: hidden;
				margin-right: 100px;
				margin-bottom: 75px;
				max-width: 1100px;

				@import "./_LifeEventInfo";
			}
		}

		@media (max-width: 1200px) {
  		&>.LifeEvent {
  			&>.TimelineGraph { 
  				flex-basis: 75px;
  				grid-template-columns: 25px 50px;
  				&>.Date { padding-left: 8px; }
  				&>.GraphPoint {
  					width: 50px;
  					overflow: hidden;
  				}
  			}
  		}
  		&>.TimelinePadding {
  			margin-left: 25px + 24.5px;
  		}
		}
		
		@media (max-width: 800px) {
			&>.LifeEvent>.GridSizingWrapper {
				margin-right: 50px;
			}
		}
	}
}


body.--browser_safari .Timeline{
	&>.Title {
		position: relative;
		// &.--stuck { 
		// 	position: fixed; 
		// 	width: 100%;
		// }
		&>.Filter>.DropDown>.--selected_item { border-bottom: none !important; max-height: 40px; }
	}
}