.CurfAugBorder {
	&, &>.FillDiv {
		position: absolute;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
	}

	pointer-events: none;

	fill: none;
	stroke: black;
	stroke-width: 5px;
	stroke-linecap: round;
	z-index: -1;
	box-sizing: border-box;
}