.ScalableCurfAug {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;

	fill: none;
	stroke: black;
	stroke-width: 5px;
	// stroke-linecap: round;

	display: grid;
	grid-template-areas: 
		"CurfNw EdgeN CurfNe"
		"EdgeW FillCenter EdgeE"
		"CurfSw EdgeS CurfSe";

	// &>.CurfNw, &>.CurfNe, &>.CurfSw, &>.CurfSe, &>.FillCenter {
	// 	border: none !important;
	// }
	// &>.EdgeN { border-top-style: solid; }
	// &>.EdgeE { border-right-style: solid; }
	// &>.EdgeS { border-bottom-style: solid; }
	// &>.EdgeW { border-left-style: solid; }

	&>div {
		border-width: 5px;
		border-color: red;
	}

	&>svg {
		stroke: red;
		stroke-width: 5px;
	}

	&>.TopFill { border-top-style: solid; }
	&>.BottomFill { border-bottom-style: solid; }

	&>.TopFill, &>.BottomFill {
		&.toLeft { border-left-style: solid; }
		&.toRight { border-right-style: solid; }
	}

	&>.MainFill {
		border-left-style: solid;
		border-right-style: solid;
		&.toTop { border-top-style: solid; }
		&.toBottom { border-bottom-style: solid; }
	}

}