.GoToContact {
	display: block;
	position: sticky;
	float: right;
	z-index: 20;
	margin-top: 12.5px;
	bottom: 12.5px;
	right: 12.5px;
	height: 75px;
	width: 75px;
	padding: 12px;

	// &>.CurfAugBorder { filter: drop-shadow(0px 0px 38px rgba(0,0,0,0.60), 0 15px 12px rgba(0,0,0,0.5);); }

	&>svg {
		max-height: 100%;
		max-width: 100%;
		// fill: white;
		stroke: white;
		// stroke-width: 50px;
		// stroke-width: 25px;
		stroke-width: 1px;
		fill: transparent;
	}

	// &::after {
	// 	display: block;
	// 	content: "";
	// 	position: absolute;
	// 	bottom: 0px;
	// 	right: 0px;
	// 	height: 62.5px;
	// 	width: 62.5px;
	// 	border-style: solid none none solid;
	// 	border-width: 1px;
	// 	border-color: black;
	// 	opacity: 0.1;
	// }

	&:hover {
		&>.CurfAugBorder { filter: drop-shadow(0px 0px 20px rgba(54,128,122, 0.5)); }
		&>.WordBubble { opacity: 1; }
	}

	&>.WordBubble {
		position: absolute;
		bottom: 5px;
		left: 8px;
		padding: 15px;
		transform: translateX(-100%);
		background: white;
		color: black;
		border-radius: 100px;
		opacity: 0;
		transition: opacity 0.2s ease;
		font-weight: 300;
		text-align: center;

		&::after {
			position: absolute;
			display: block;
			z-index: -1;
			content: " ";
			height: 25px;
			width: 25px;
			top: 50%;
			right: 0px;
			background: inherit;
			transform: translate(3px, -50%) rotate(45deg);
		}

		&:hover {
			text-decoration: underline;
		}
	}
}

body.--browser_safari .GoToContact{
	position: fixed;
}







