:root {
	--linkColor: #36807a;
	--timelineStroke: #2F5451;
	--timelineTitleBg: #831F34;
	--contactTitleBg: #36807a;

	// --linkColor: #00FFC0;
	// --timelineStroke: #00FFC0;
	// --timelineTitleBg: #ff0048;
	// --contactTitleBg: #d4ff61;
}
