:root {
	--fg: #FFF;
	--fgFade1: #EEE;
	--fgFade2: #DDD;
	--fgFade3: #CCC;
	--fgFade4: #BBB;
	--fgFade5: #AAA;
	--fgFade6: #999;
	--fgFade7: #888;
}

@keyframes slide-background {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 0%; }
}

@keyframes pulse-opacity {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

button, a {
	// anti-button css
	border: none;
	background: none;
	color: inherit;
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
	text-align: inherit;
	padding: none;
	margin: none;
	cursor: pointer;
}

.App {
	&>.Header {
		// background: #111;
		position: relative;

		&>.Header-bg {
			height: 500px;
			width: 100%;

			&>canvas {
				height: 100%;
				width: 100%;
				opacity: 0.8;
				background: #111;
			}

			.Instructions {
				display: none;
				position: absolute;
				bottom: 20px;
				right: 20px;
				// opacity: 0.7;

				&>.Instructions-fg {
					position: relative;
					z-index: 2;
					color: black;
					font-weight: 300;
					font-size: 25px;
					padding: 4px 12px;
				}

				&>.Instructions-bg {
					position: absolute;
					top: 0px;
					left: 0px;
					height: 100%;
					width: 100%;
					background: rgba(250, 250, 250, 0.5);
					transform: skew(-22.5deg);
				}
			}

			&>canvas.--show_instructions + .Instructions {
				display: block;
			}
		}

		&>.Header-fg {
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			pointer-events: none;

			&>svg {
				position: absolute;
				fill: none;
				stroke-width: 5px;
				height: 80%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) translateZ(0);

				&.logo-fg {
					stroke: black;
				}

				// due to browsers having poor throttling, this animation was moved to js
				// &.logo-bg-1, &.logo-bg-2 {
				// 	animation: pulse-opacity;
				// 	animation-timing-function: ease-in-out;
				// 	animation-duration: 8s;
				// 	animation-iteration-count: infinite;
				// }

				&.logo-bg-1 {
					stroke: #AEF;
					filter: blur(10px);
				}

				&.logo-bg-2 {
					stroke: #F9D7BB;
					filter: blur(10px);
				}
			}
		}

		.Name { font-size: 50px; }
	}

	&>.Divider {
		box-sizing: content-box;
		height: 8px;
		// margin-bottom: 40px;
		border-top: 8px solid black;
		border-bottom: 8px solid black;
		background-image: repeating-linear-gradient(to right, #C82C4D, #FFA960, #F9D7BB, #133A5D, #456FFF, #C82C4D, #FFA960);
		background-size: 600vw auto;
		// due to browsers having poor throttling, this animation was moved to js
		// animation: 30s linear infinite slide-background;
		// transform: translateZ(0);

		&.reverse {
			background-image: repeating-linear-gradient(to left, #C82C4D, #FFA960, #F9D7BB, #133A5D, #456FFF, #C82C4D, #FFA960);
		}
	}

	&>.Welcome {
		font-size: 40px;
		padding: 0px 4px;
		color: var(--fgFade7);
		text-align: justify;

		a, a:visited { color: inherit }
		a:hover { color: #0F8; }
		a:active { color: #0FF; }
		


		.Highlight {
			color: var(--fgFade2);
			letter-spacing: 2px;
		}

		.MyName {
			font-size: 70px;
			font-weight: 300;
			color: var(--fg);
			vertical-align: sub;
			white-space: nowrap;
		}
	}
}