body {
	@media (max-width: 600px) {
		&>#AppWrapper>.App {
			&>.Welcome { 
				font-size: 30px; 
				.MyName { font-size: 60px; }
			}

			&>.Timeline {
				&>.Title {
					height: 65px !important;
					padding: 35px 10px 5px !important;
					width: 100%;
					margin-bottom: 0px !important;
					&>.Text { 
						white-space: nowrap; 
						font-size: 25px;
						line-height: 20px;
						top: 10px;
						left: 12.5px;
						animation: none !important;
					}
					&>.Filter {
						line-height: 1em;
						font-size: 20px;
						&>.DropDown {
							font-size: inherit;
						}
					}
				}
				&>.LifeEventList {
					margin-top: -65px;
					&>.TimelinePadding { margin-left: 99.5px; }
					&>.LifeEvent {
						flex-direction: column;
						&>.GridSizingWrapper { 
							margin: 0px 12.5px;
							&>.Info {
								padding-left: 12.5px;
								padding-right: 12.5px;
								&>.Desc {
									font-size: 15px !important;
									.LeftCol > a { 
										max-width: 100%; 
										margin-left: 0px !important;
										margin-right: 0px !important;
									}
									table {
										table-layout: fixed;
										width: 100%;
										&.table_variant_horizontal_lines td:not(:last-child) { padding-right: 5px; }
										th:first-child, td:first-child { 
											width: 0px; 
											white-space: nowrap;
										}
										th:not(:first-child), td:not(:first-child) { padding-top: 25px; }
									}
								}
							}
						}
						&>.TimelineGraph {
							grid-template-columns: 50px 75px 1fr;
							grid-template-rows: 50px;
							flex-basis: 50px;
							grid-template-areas: "Date GraphPoint ."; 
							&>.GraphLine { display: none; }
							&>.GraphPoint { 
								width: 75px;
								grid-area: GraphPoint; 
								transform: rotate(180deg);
							}
							&>.Date { 
								margin-top: 10px;
								padding-left: 12px;
								grid-area: Date; 
							}
						}
					}
				}
			}

			&>.GoToContact {
				bottom: 5px;
				right: 5px;
			}

			&>.Contact {
				&>.ContactTitle { font-size: 40px; white-space: nowrap; }
				&>.Connections {
					padding: 25px 12.5px 75px;
					&>.Connection {
						&>svg { 
							flex-basis: 75px;
							margin: 12.5px;
						}
						&>.Info {
							&>.Medium {font-size: 30px !important; }
							&>.Path {
								font-size: 20px !important;
							}
						}
					}
				}
			}
		}
	}
}


@media print {
	html {
		background: black;

		.LifeEvent { 
			margin-top: 25px;
			page-break-inside: avoid;
			&>.TimelineGraph>.GraphLine { visibility: hidden; }
		}

		.TimelinePadding { visibility: hidden; }

		.GoToContact {
			position: relative;
			bottom: -75px;
		}

		.Connection, .ContactTitle, .Timeline>.Title {
			page-break-inside: avoid;
		}
	}
}