body, html {
	min-height: 100vh;
	// min-width: 100vw;
	margin: 0px;
	padding: 0px;
}

body {
	position: relative;
	box-sizing: border-box;
	background: #345;
	color: white;
	font-family: 'Roboto', arial, sans-serif;
	font-weight: 300;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.CoverLetter {
	height: 11in;
	width: 8.5in;
	padding: 0.5in;
	background: var(--contactTitleBg);

	&>.AboutMe {
		display: flex;
		&>.MyFace {
			&>svg { 
				width: 150px;
				height: 150px;
				stroke: white; 
				fill: none;
				transform: scale(-1, 1);
			}
		}

		&>.Bio {
			position: relative;
			background: white;
			color: #222;
			padding: 10px;
			border-radius: 20px;
			margin-top: auto;
			margin-bottom: auto;

			&>.Tail {
				position: absolute;
				top: 35px;
				left: -8px;
				height: 20px;
				width: 20px;
				z-index: 0;
				background: inherit;
				transform: rotate(45deg);
			}

			&>.Content {
				position: relative;
				z-index: 1;
				background: inherit;

				&>.MyName {
					font-size: 25px;
				}
			}
		}
	}

	&>.Interest {
		position: relative;
		// background: black;
		z-index: 1;
		padding: 25px;
		margin: 25px;

		&>.Header {
			font-size: 30px;
			padding-left: 50px;
		}

		&>.Spacer {
			height: 1px;
			background-image: linear-gradient(to right, transparent, #5e6e6c 5%, #5e6e6c 95%, transparent);
			grid-column-end: span 4;
		}

		&>.Blurb {
			text-align: justify;
			font-size: 14px;

			p { text-indent: 1em; }
		}
	}

	&>.Portfolio {
		position: relative;
		z-index: 1;
		margin: auto;
		margin-top: 50px;
		// height: 75px;
		color: black;
		padding: 25px;
		font-size: 20px;
		font-weight: 400;
		width: 400px;

		&>a {
			// display: block;
			color: white;
		}
	}
}