body, html {
	min-height: 100vh;
	// min-width: 100vw;
	margin: 0px;
	padding: 0px;
}

body {
	position: relative;
	box-sizing: border-box;
	background: #345;
	color: white;
	// color: #b2f0e9;
	font-family: 'Roboto', arial, sans-serif;
	font-weight: 300;
}

*, *::before, *::after {
	box-sizing: inherit;
}

// $brightGreen: #74d2c5;
$brightGreen: #08c99f;
$tealFg: #b2f0e9;

a { color: $brightGreen; }

.Resume {
	width: 8.5in;
	height: 11in;
	display: flex;
	overflow: hidden;
	font-size: 14px;	

	&>.LeftCol {
		background: var(--timelineTitleBg);
		// background: #490e18;
		flex: 2.25in 0 0;
		padding: 0.333in - 5px 0.14in 0.333in 0.333in;
		overflow: hidden;

		&>.Name, &>.Contact, &>.Positions {
			margin-bottom: 25px;
		}
		color: #ffd3af;

		&>.Name {
			color: white;

			&>.MyName { 
				font-size: 35px; 
			}
		}

		&>.Positions {
			color: #fde9d9;
			font-size: 17px;
			text-align: right;
		}

		&>.SelfIntro {
			text-align: justify;
			font-size: 15px;
			&>.Blurb:not(:last-child) {
				margin-bottom: 12.5px;
			}
		}
	}

	&>.RightCol {
		overflow: hidden;
		// background: black;
		background: #0f1312;
		position: relative;
		flex: 1;
		padding: 0.333in + 10px 0.333in 0.333in 0.14in;

		&>.PrintLink {
			position: absolute;
			top: 2px;
			right: 2px;
		}

		.Title {
			letter-spacing: 0.35em;
			border-bottom: 1px solid white;
			display: inline-block;
			margin-bottom: 7px;
			padding: 0px 2px;
		}

		&>.EmploymentTable {
			display: grid;
			position: relative;
			grid-template-columns: auto auto auto auto;
			font-size: 12px;
			padding-bottom: 5px;

			&>.TableHeader, &>.Employment>.Datum, &>.Spacer { position: relative; z-index: 2}

			&>.TableHeader { font-weight: bold; }
			&>.TableHeader, &>.Employment>.Datum {
				padding: 5px; 
			}
			&>.Employment {
				display: contents;
				&>.Datum {
					&:first-child { padding-left: 12.5px; }
					&>small {
						display: block;
						padding-left: 12.5px;
					}
				}
			}
			&>.Spacer {
				height: 1px;
				background-image: linear-gradient(to right, transparent, #5e6e6c 10%, #5e6e6c 90%, transparent);
				grid-column-end: span 4;
				margin: 0px 25px;
				&.header {
					background: var(--timelineStroke);
					margin: 0px;
				}
			}

			&>.CurfAugBorder { z-index: 0; }
		}

		&>.Portfolio {
			text-align: center;
			// background: var(--timelineStroke);
			position: relative;
			z-index: 1;
			color: black;
			margin: 20px;
			// width: 50%;
			padding: 10px;
			font-size: 20px;
			font-weight: 400;
			&>a {
				display: block;
				color: white;
			}
		}

		&>.Skills {
			
			&>.Desc {
				text-indent: 1em; 
				margin-bottom: 10px;
				color: $tealFg;
			}	
			&>.SkillList {
				color: $tealFg;

				columns: 2;
				column-break-inside: avoid;

				&>.Skill {
					display: flex;
					column-break-inside: avoid;

					&>.Stars {
						flex: 40px 0 0;
						font-size: 10px;
						color: #666;
						&>span {
							color: #b79126;
						}
					}
				}
			}
		}
	}

	&.--variant_print_version {
		color: black !important;
		
		.LeftCol, .RightCol { background: white !important; }
		.LeftCol {
			border-right: 3px solid var(--timelineTitleBg);
			color: inherit;

			&>* {
				color: inherit;
			}
		}
		.RightCol {
			a { color: var(--timelineStroke) !important; }
			.Spacer.header {
				background: black !important;
			}
			.Spacer:not(.header) {
				opacity: 0.5;
			}
			.Title { border-color: black !important; }
			.PrintLink { display: none; }

			.Skills > * {
				color: inherit;
			}
		}
	}
}























